.shopping-cart {
  margin-bottom: 70px;

  &__title {
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    column-gap: 35px;
  }
}

.products-shopping-cart {
  max-width: 916px;
  width: 100%;

  &__top {
    display: flex;
    margin-bottom: 13px;
  }

  &__top-title {
    font-weight: 600;
    width: 100%;

    &:nth-child(1) {
      margin-right: auto;
    }
    &:nth-child(2) {
      max-width: 150px;
    }
    &:nth-child(3) {
      max-width: 125px;
    }
    &:nth-child(4) {
      max-width: 190px;
    }
  }

  &__list {
    border-top: 1px solid $grey-2;
    border-bottom: 1px solid $grey-2;
    margin-bottom: 25px;
  }

  &__product {
    display: flex;
    column-gap: 26px;
    max-width: 916px;
    padding: 25px 9px 25px 0;

    &:not(:last-child) {
      margin-bottom: 25px;
      border-bottom: 1px solid $grey-2;
    }
  }

  &__product-item {
    display: flex;
    column-gap: 29px;
  }

  &__item-image {
    width: 120px;
    height: 120px;
    flex-shrink: 0;

    img {
      object-fit: contain;
    }
  }

  &__title {
    max-width: 270px;
  }

  &__product-info {
    display: flex;
    justify-content: space-between;
    column-gap: 62px;
    max-width: 460px;
    width: 100%;

    .products-shopping-cart__top-title {
      display: none;
    }
  }

  &__product-price,
  &__product-subtotal {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    min-width: 85px;
    width: 100%;
  }

  &__product-qty {
    .product__counter {
      margin-right: 0;
    }
  }

  &__product-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-left: auto;
  }

  &__product-button {
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid $grey-2;
    font-size: 9px;
  }

  &__bottom {
    display: flex;
    column-gap: 8px;
  }

  &__bottom-button,
  &__bottom-continue {
    background-color: $black;
    color: $white;
    padding: 8px;
    text-align: center;
    max-width: 200px;
    width: 100%;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;

    &:nth-child(2) {
      margin-right: auto;
    }

    &:hover {
      background-color: $blue;
    }
  }

  &__bottom-continue {
    background-color: $white;
    color: $grey-3;
    border: 2px solid $grey-3;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;

    &:hover {
      color: $blue;
      border-color: $blue;
      background-color: $white;
    }
  }
}

.summary-shopping-cart {
  padding: 17px 32px;
  background-color: $grey-1;
  max-width: 446px;

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 19px;
  }

  &__chapter[data-open="true"] {
    .summary-shopping-cart__subtitle::after {
      rotate: 180deg;
      transform: translateY(50%);
    }
  }

  &__chapter--discount {
    padding-bottom: 25px;
    border-bottom: 1px solid $grey-2;
    transition: margin-bottom 0.2s ease-in-out;
    margin-bottom: 10px;

    .summary-shopping-cart__subtitle {
      margin-bottom: 0;
      transition: margin-bottom 0.2s ease-in-out;
    }

    &[data-open="true"] {
      .summary-shopping-cart__subtitle {
        margin-bottom: 12px;
      }
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 12px;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 4px;
      background-image: url("../img/icons/icons.svg#arrow-down");
      border: none;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      right: 19px;
      top: 50%;
      transform: translateY(-50%);
      transition: rotate 0.1s ease-in-out;
    }
  }

  &__estimate-text {
    max-width: 287px;
    color: $grey;
    margin-bottom: 12px;
  }

  &__chapter-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }

  .choices {
    color: $black;
  }

  .choices[data-type*="select-one"]::after {
    width: 6px;
    height: 4px;
    background-image: url("../img/icons/icons.svg#arrow-down");
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    right: 19px;
    transition: rotate 0.1s ease-in-out;
  }

  .choices.is-open::after {
    margin: 0;
    rotate: 180deg;
    border: 0;
    transform: translateY(50%);
  }

  .choices__inner {
    padding: 0;
    min-height: auto;
    border: 1px solid $grey-3;
  }

  .choices__item {
    opacity: 1;
    padding: 10px 15px;
  }

  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    padding: 10px 15px;
  }

  .choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 0;
  }

  .choices__list--single {
    padding: 0;
  }

  &__item {
    margin-bottom: 5px;

    &--delivery {
      margin: 18px 0 25px;

      input {
        height: 0;
        position: absolute;

        &:checked + .summary-shopping-cart__item-text::before {
          background-color: $blue;
        }
      }
    }
  }

  &__item-text {
    padding-left: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-color: $white;
      border: 2px solid $white;
      border-radius: 50%;
      position: absolute;
      left: 2px;
      top: 2px;
      outline: 2px solid $blue;
      transition: background-color 0.2s ease-in-out;
    }
  }

  &__label {
    font-weight: 600;
    font-size: 13px;
    line-height: 2.1;
    display: block;
  }

  &__input {
    padding: 10px 15px;
    border: 1px solid $grey-3;
    border-radius: 4px;
    width: 100%;
  }

  &__code-button {
    width: 100%;
    margin-top: 19px;
    color: $blue;
    border: 2px solid $blue;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 15px 0;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 13px;
    line-height: 2.1;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:last-of-type {
      margin-bottom: 10px;
    }

    p {
      color: $grey-3;
      font-size: 10px;
      line-height: 180%;
      max-width: 300px;
    }
  }

  &__total-price {
    font-weight: 600;
    font-size: 18px;
  }

  &__button {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 50px;
    padding: 15px 0;

    &--checkout {
      background-color: $blue;
      color: $white;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
      border: 2px solid transparent;

      &:hover {
        background-color: $white;
        color: $blue;
        border-color: $blue;
      }
    }

    &--paypal {
      background-color: $gold;
      color: $dark;
      border: 2px solid transparent;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

      &:hover {
        background-color: $white;
        color: $gold;
        border-color: $gold;
      }

      img {
        width: 72px;
        height: 18px;
        margin-left: 15px;
      }
    }

    &--multiple {
      color: $grey;
      border: 2px solid $grey;
      transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;

      &:hover {
        color: $blue;
        border-color: $blue;
      }
    }

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}
