.login {
  margin-bottom: 58px;

  @media (max-width: 1030px) {
    margin-bottom: 27px;
  }

  @media (max-width: 756px) {
    margin-bottom: 16px;
  }

  &__bread-crumbs {
    margin: 20px 0;

    @media (max-width: 1030px) {
      margin: 0 0 13px;
    }
  }

  &__title {
    margin-bottom: 21px;

    @media (max-width: 1030px) {
      margin-bottom: 13px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    column-gap: 34px;

    @media (max-width: 1030px) {
      column-gap: 21px;
      align-items: flex-start;
    }

    @media (max-width: 756px) {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__item {
    background-color: $grey-1;
    padding: 40px 57px;
    max-width: 564px;
    width: 100%;

    @media (max-width: 1030px) {
      padding: 20px 20px 32px;
    }

    @media (max-width: 756px) {
      max-width: 100%;
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 11px;

    @media (max-width: 1030px) {
      font-size: 14px;
    }
  }

  &__item-text {
    font-weight: 300;
    line-height: 2.14;
    margin-bottom: 7px;
  }

  &__form-item {
    &:first-child {
      margin-bottom: 10px;
    }
  }

  &__form-lable {
    font-weight: 600;
    line-height: 2.1;
    display: block;
    margin-bottom: 10px;

    span {
      color: $red;
    }

    @media (max-width: 1030px) {
      font-size: 11px;
      margin-bottom: 5px;
    }
  }

  &__form-input {
    display: block;
    width: 100%;
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.43;
    border: 1px solid #a2a6b0;
    border-radius: 4px;
    padding: 14px 17px;

    @media (max-width: 1030px) {
      font-size: 11px;
      padding: 10px 15px;
    }

    &::placeholder {
      font-weight: 300;
      font-size: 14px;
      line-height: 1.43;

      @media (max-width: 1030px) {
        font-size: 11px;
      }
    }
  }

  &__form-bottom {
    margin-top: 30px;
    display: flex;
    column-gap: 23px;
    align-items: center;

    @media (max-width: 1030px) {
      margin-top: 16px;
      column-gap: 16px;
    }
  }

  &__button {
    font-weight: 600;
    background-color: $blue;
    color: $white;
    border-radius: 50px;
    padding: 15px 50px;
    outline: 2px solid transparent;
    white-space: nowrap;
    transition: color 0.2s ease-in-out, outline-color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
      color: $blue;
      background-color: $white;
      outline-color: $blue;
    }

    @media (max-width: 1030px) {
      padding: 8px 42.5px;
    }
  }

  &__form-link {
    color: $blue;

    @media (max-width: 1030px) {
      font-size: 11px;
    }
  }

  &__item-list {
    margin-bottom: 36px;

    @media (max-width: 1030px) {
      margin-bottom: 22px;
    }
  }

  &__list-item {
    &::before {
      content: "•";
    }
  }
}
