.brands {
  margin-bottom: 77px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    padding: 35px 23px;
    display: flex;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $grey-1;
    }
  }
}
