.brands {
  margin-bottom: 77px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__link {
    padding: 35px 23px;
    display: flex;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $grey-1;
    }

    @media (max-width: 1030px) {
      padding: 35px 45px;
    }
  }
}
