.brands {
  margin-bottom: 77px;

  @media (max-width: 1030px) {
    margin-bottom: 30px;
  }

  @media (max-width: 565px) {
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__link {
    padding: 35px 23px;
    display: flex;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $grey-1;
    }

    @media (max-width: 1030px) {
      padding: 35px 45px;
    }

    @media (max-width: 565px) {
      padding: 25px 10px;

      img {
        max-width: 127px;
        max-height: 66;
      }
    }
  }
}
