.about {
  margin-bottom: 63px;

  &__bread-crumbs {
    margin: 20px 0;

    @media (max-width: 1030px) {
      margin: 0 0 20px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__item {
    background-color: $black;
    color: $white;

    &:nth-child(odd) {
      background-color: $white;
      color: $black;
      .about__item-container {
        flex-direction: row-reverse;

        @media (max-width: 756px) {
          flex-direction: column-reverse;
        }
      }
    }

    &:nth-child(3) {
      .about__icon {
        background-image: url("../img/icons/icons.svg#logo");
        background-size: 29px 24px;

        @media (max-width: 1030px) {
          background-size: 16px 13px;
        }
      }
    }

    &:nth-child(4) {
      .about__icon {
        background-image: url("../img/icons/icons.svg#heart");
        background-size: 14px 16px;

        @media (max-width: 1030px) {
          background-size: 8px 10px;
        }
      }
    }

    &:nth-child(5) {
      .about__icon {
        background-image: url("../img/icons/icons.svg#star");
        background-size: 21px 20px;

        @media (max-width: 1030px) {
          background-size: 12px 12px;
        }
      }
    }

    &:nth-child(6) {
      .about__icon {
        background-image: url("../img/icons/icons.svg#car");
        background-size: 15px 20px;

        @media (max-width: 1030px) {
          background-size: 9px 12px;
        }
      }
    }
  }

  &__item-container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 20px;
    min-height: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 34px;

    @media (max-width: 1030px) {
      justify-content: center;
      min-height: 406px;
    }

    @media (max-width: 756px) {
      flex-direction: column-reverse;
      padding: 25px 20px;
    }
  }

  &__content {
    max-width: 470px;

    @media (max-width: 1030px) {
      max-width: 326px;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    background-color: $blue;
    border-radius: 50% 50% 50% 0;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 1030px) {
      width: 30px;
      height: 30px;
    }
  }

  &__image {
    max-width: 480px;
    max-height: 480px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    img {
      object-fit: contain;
    }

    @media (max-width: 1030px) {
      max-width: 280px;
      max-height: 280px;
    }

    @media (max-width: 756px) {
      margin-bottom: 20px;
      max-width: 150px;
      max-height: 150px;
    }
  }

  &__item-title {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.31;
    margin-bottom: 32px;

    @media (max-width: 1030px) {
      font-size: 32px;
      margin-bottom: 13px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 18px;

    p {
      &:not(:last-child) {
        margin-bottom: 30px;

        @media (max-width: 1030px) {
          margin-bottom: 15px;
        }
      }
    }

    @media (max-width: 1030px) {
      font-size: 14px;
    }
  }
}
